header {
    text-align:center;
    background-color: rgb(186, 45, 186);
    padding: 10px;
    color: white;
}
.resultstext{
    margin-top: 10px;
    border: 2px solid magenta;
}
/* .fiveday {
    border: solid black;
    margin: 5px;
} */

.customcard {
    border: solid black;
    margin: 5px;
    
}

.fivedaycard {
    border: solid black;
    margin: 5px;
    padding: 5px;
}